.about {
  margin: 3% 5%;
  @media screen and (min-width: 300px) and (max-width: 1000px) {
    margin: 5% 1%;
  }
  img {
    height: 100%;
  }
  p,
  h6 {
    line-height: 2.4em;
  }
  a:hover {
    text-decoration: none;
    color: #b92b49;
  }
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    transform: none;
  }
}
