.box2 {
    display: flex;   
    flex-direction: row;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.808);
    margin: 4% 15% 0 15%;
    border-radius: 25px;
    box-shadow: 0 100px 108px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    @media screen 
    and (min-width: 300px)
    and (max-width: 1000px) {
        margin: 15% 3% 15% 3%;
    }
}