.name {
  h1 {
    font-size: 3em;
    margin: 2% 0 1% 0;
  }
}
.image {
  display: flex;
  flex-direction: row;
  @media screen 
  and (max-width: 950px) {
  display:none;
  }
}
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom:2%;
  .name {
    text-align: center;
    color: rgb(27, 27, 27);
  }
}
