.name {
  margin-top: 5%;
}
.image {
  display: flex;
  flex-direction: row;

@media screen 
and (max-width: 1350px) { 
   display:none;
}
}
.stack {
  display: flex;
  flex-direction: column;
  .name {
    text-align: center;
    color: rgb(27, 27, 27);
  }
}
