   .image {
        display: flex;   
        flex-direction: row;
   }
   .stack {
    display: flex;   
    flex-direction: column;
       .name {
        text-align: center;
        color: rgb(27,27,27);
    }
   }
